.DS_Store
.DS_Store?
._*
.Trashes
.Spotlight-V100
.project
.classpath
.settings
.idea
*.iml
.gradle
.nb-gradle

/build
/bin
/target

/discard/build
/discard/bin
/discard/target

/echo/build
/echo/bin
/echo/target
